.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#name, #password {
    color: black;
    background-color:rgb(153, 152, 158);
    /*how to make placeholder color better?*/
}