.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#username, #password {
    color: black;
    background-color:rgb(198, 197, 205);
}