textarea {
    color: black;
    background-color:rgb(153, 152, 158);
}

.radio {
    align-items: flex-start;
    color: red;
    /*this doesn't seem to be doing anything. how do I edit the radio buttons and put the button on the left?*/
}

/*.nav-item {
    flex-direction: row;
    color: red;
}*/